In [18]:
import pandas as pd
import numpy as np

## Loading the data

In [19]:
import pandas as pd

# Load the dataset
df = pd.read_csv('../data/benin-malanville.csv')
print(df.shape)
df.head()

(525600, 19)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [20]:
print('an overview of the dataset')
df.head()

an overview of the dataset

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [ ]:
# Summary statistics
summary_stats = df.describe()

# Missing value report
missing_values = df.isna().sum()
missing_percentage = (missing_values / len(df)) * 100

# Columns with more than 5% missing values
high_missing_cols = missing_percentage[missing_percentage > 5]

print(summary_stats)
print(missing_values)
print(high_missing_cols)

                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      240.559452     167.187516     115.358961     236.589496
std       331.131327     261.710501     158.691074     326.894859
min       -12.900000      -7.800000     -12.600000       0.000000
25%        -2.000000      -0.500000      -2.100000       0.000000
50%         1.800000      -0.100000       1.600000       4.500000
75%       483.400000     314.200000     216.300000     463.700000
max      1413.000000     952.300000     759.200000    1342.300000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      228.883576      28.179683      54.487969       2.121113
std       316.536515       5.924297      28.073069       1.603466
min         0.000000      11.000000       2.100000       0.000000
25%         0.000000      24.200000      28.800000       1.000000
50%         4.300000      28.000000      55.100000       1.900000
75%       447.900000      32.300000      80.100000       3.100000
max      1342.300000      43.800000     100.000000      19.500000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        2.809195       0.473390     153.435172       8.582407
std         2.029120       0.273395     102.332842       6.385864
min         0.000000       0.000000       0.000000       0.000000
25%         1.300000       0.400000      59.000000       3.700000
50%         2.600000       0.500000     181.000000       8.600000
75%         4.100000       0.600000     235.100000      12.300000
max        26.600000       4.200000     360.000000      99.400000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      994.197199       0.000923       0.001905      35.246026
std         2.474993       0.030363       0.037115      14.807258
min       985.000000       0.000000       0.000000       9.000000
25%       993.000000       0.000000       0.000000      24.200000
50%       994.000000       0.000000       0.000000      30.000000
75%       996.000000       0.000000       0.000000      46.900000
max      1003.000000       1.000000       2.500000      81.000000

               TModB  Comments
count  525600.000000       0.0
mean       32.471736       NaN
std        12.348743       NaN
min         8.100000       NaN
25%        23.600000       NaN
50%        28.900000       NaN
75%        41.500000       NaN
max        72.500000       NaN
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64
Comments    100.0
dtype: float64

In [10]:
from scipy import stats
import pandas as pd
df = pd.read_csv('../data/benin-malanville.csv')
print(df.head())
z_scores = stats.zscore(df[['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']])

# Identify outliers: Z-score > 3 or < -3
df['outlier'] = (abs(z_scores) > 3).any(axis=1)

# Check for missing values
missing_values = df.isna().sum()

# Display the outliers and missing values
print("Outliers detected:")
print(df[df['outlier']])

print("\nMissing values in each column:")
print(missing_values)
# Impute missing values in key columns with median
df['GHI'].fillna(df['GHI'].median(), inplace=True)
df['DNI'].fillna(df['DNI'].median(), inplace=True)
df['DHI'].fillna(df['DHI'].median(), inplace=True)

# Drop rows with any remaining missing values in critical columns
df.dropna(subset=['ModA', 'ModB', 'WS', 'WSgust'], inplace=True)

          Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-08-09 00:01 -1.2 -0.2 -1.1   0.0   0.0  26.2  93.4  0.0     0.4
1  2021-08-09 00:02 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.6  0.0     0.0
2  2021-08-09 00:03 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.7  0.3     1.1
3  2021-08-09 00:04 -1.1 -0.1 -1.0   0.0   0.0  26.2  93.3  0.2     0.7
4  2021-08-09 00:05 -1.0 -0.1 -1.0   0.0   0.0  26.2  93.3  0.1     0.7

   WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0      0.1  122.1      0.0  998         0            0.0   26.3   26.2
1      0.0    0.0      0.0  998         0            0.0   26.3   26.2
2      0.5  124.6      1.5  997         0            0.0   26.4   26.2
3      0.4  120.3      1.3  997         0            0.0   26.4   26.3
4      0.3  113.2      1.0  997         0            0.0   26.4   26.3

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
Outliers detected:
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
670     2021-08-09 11:11   836.0  235.0  610.6   778.8   783.8  30.3  68.2
671     2021-08-09 11:12  1274.0  698.8  615.2  1210.3  1210.3  30.1  69.6
672     2021-08-09 11:13   938.0  340.1  612.8   891.1   891.1  30.4  68.4
673     2021-08-09 11:14   718.5  126.8  593.2   682.6   682.6  30.6  68.2
674     2021-08-09 11:15  1349.0  771.8  618.0  1281.5  1281.5  30.9  67.1
...                  ...     ...    ...    ...     ...     ...   ...   ...
525141  2022-08-08 16:22     4.6   -0.1    4.6     6.1     5.9  21.9  99.0
525142  2022-08-08 16:23     4.6    0.2    4.6     5.9     5.8  21.9  99.0
525143  2022-08-08 16:24     4.5   -0.1    4.5     5.8     5.7  21.9  99.0
525151  2022-08-08 16:32     4.7   -0.1    4.8     6.0     5.9  22.0  99.1
525155  2022-08-08 16:36     4.8    0.0    4.9     6.0     5.9  22.0  99.1

         WS  WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  \
670     3.2     4.1      0.7  190.5     18.4  999         0            0.0
671     3.4     4.1      0.6  175.8     13.3  999         0            0.0
672     3.4     4.6      0.9  171.5     11.9  999         0            0.0
673     4.7     5.6      0.6  160.7      8.0  999         0            0.0
674     4.0     4.6      0.4  169.1     12.3  999         0            0.0
...     ...     ...      ...    ...      ...  ...       ...            ...
525141  7.1     9.7      1.2  127.8     10.7  995         0            0.2
525142  6.5     9.2      1.2  126.3     12.3  995         0            0.2
525143  6.7     8.9      1.1  132.0      8.1  995         0            0.2
525151  7.3     8.7      0.8  146.9      8.8  995         0            0.1
525155  6.9     8.9      1.1  153.8      9.4  995         0            0.1

        TModA  TModB  Comments  outlier
670      63.0   52.7       NaN     True
671      63.7   53.1       NaN     True
672      65.8   54.3       NaN     True
673      65.4   54.2       NaN     True
674      65.0   53.5       NaN     True
...       ...    ...       ...      ...
525141   22.8   22.0       NaN     True
525142   22.8   22.0       NaN     True
525143   22.7   22.0       NaN     True
525151   22.8   22.0       NaN     True
525155   22.8   22.0       NaN     True

[7740 rows x 20 columns]

Missing values in each column:
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
outlier               0
dtype: int64

C:\Users\ruths\AppData\Local\Temp\ipykernel_32020\2264177183.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GHI'].fillna(df['GHI'].median(), inplace=True)
C:\Users\ruths\AppData\Local\Temp\ipykernel_32020\2264177183.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DNI'].fillna(df['DNI'].median(), inplace=True)
C:\Users\ruths\AppData\Local\Temp\ipykernel_32020\2264177183.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DHI'].fillna(df['DHI'].median(), inplace=True)