In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('../data/sierraleone-bumbuna.csv')
print(df.shape)
df.head()

(525600, 19)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [2]:
# Summary statistics
summary_stats = df.describe()

# Missing value report
missing_values = df.isna().sum()
missing_percentage = (missing_values / len(df)) * 100

# Columns with more than 5% missing values
high_missing_cols = missing_percentage[missing_percentage > 5]

print(summary_stats)
print(missing_values)
print(high_missing_cols)

                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      201.957515     116.376337     113.720571     206.643095
std       298.495150     218.652659     158.946032     300.896893
min       -19.500000      -7.800000     -17.900000       0.000000
25%        -2.800000      -0.300000      -3.800000       0.000000
50%         0.300000      -0.100000      -0.100000       3.600000
75%       362.400000     107.000000     224.700000     359.500000
max      1499.000000     946.000000     892.000000    1507.000000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      198.114691      26.319394      79.448857       1.146113
std       288.889073       4.398605      20.520775       1.239248
min         0.000000      12.300000       9.900000       0.000000
25%         0.000000      23.100000      68.700000       0.000000
50%         3.400000      25.300000      85.400000       0.800000
75%       345.400000      29.400000      96.700000       2.000000
max      1473.000000      39.900000     100.000000      19.200000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        1.691606       0.363823     133.044668       7.172220
std         1.617053       0.295000     114.284792       7.535093
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         1.600000       0.400000     161.500000       6.200000
75%         2.600000       0.600000     234.100000      12.000000
max        23.900000       4.100000     360.000000      98.400000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      999.876469       0.000967       0.004806      32.504263
std         2.104419       0.031074       0.047556      12.434899
min       993.000000       0.000000       0.000000      10.700000
25%       999.000000       0.000000       0.000000      23.500000
50%      1000.000000       0.000000       0.000000      26.600000
75%      1001.000000       0.000000       0.000000      40.900000
max      1006.000000       1.000000       2.400000      72.800000

               TModB  Comments
count  525600.000000       0.0
mean       32.593091       NaN
std        12.009161       NaN
min        11.100000       NaN
25%        23.800000       NaN
50%        26.900000       NaN
75%        41.300000       NaN
max        70.400000       NaN
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64
Comments    100.0
dtype: float64

In [3]:
from scipy import stats
import pandas as pd
df = pd.read_csv('../data/sierraleone-bumbuna.csv')
print(df.head())
z_scores = stats.zscore(df[['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']])

# Identify outliers: Z-score > 3 or < -3
df['outlier'] = (abs(z_scores) > 3).any(axis=1)

# Check for missing values
missing_values = df.isna().sum()

# Display the outliers and missing values
print("Outliers detected:")
print(df[df['outlier']])

print("\nMissing values in each column:")
print(missing_values)
# Impute missing values in key columns with median
df['GHI'].fillna(df['GHI'].median(), inplace=True)
df['DNI'].fillna(df['DNI'].median(), inplace=True)
df['DHI'].fillna(df['DHI'].median(), inplace=True)

# Drop rows with any remaining missing values in critical columns
df.dropna(subset=['ModA', 'ModB', 'WS', 'WSgust'], inplace=True)

          Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-10-30 00:01 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.1  0.0     0.0
1  2021-10-30 00:02 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.2  0.0     0.0
2  2021-10-30 00:03 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.2  0.0     0.0
3  2021-10-30 00:04 -0.7  0.0 -0.8   0.0   0.0  21.9  99.3  0.0     0.0
4  2021-10-30 00:05 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.3  0.0     0.0

   WSstdev   WD  WDstdev    BP  Cleaning  Precipitation  TModA  TModB  \
0      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
1      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
2      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
3      0.0  0.0      0.0  1002         0            0.1   22.3   22.6
4      0.0  0.0      0.0  1002         0            0.0   22.3   22.6

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
Outliers detected:
               Timestamp    GHI    DNI    DHI   ModA   ModB  Tamb    RH   WS  \
653     2021-10-30 10:54  814.0  257.0  594.3  878.0  856.0  25.9  85.3  0.5
654     2021-10-30 10:55  826.0  263.5  599.6  883.0  861.0  26.0  85.4  1.7
655     2021-10-30 10:56  851.0  285.0  605.9  912.0  890.0  26.0  84.2  1.6
656     2021-10-30 10:57  823.0  254.8  603.9  878.0  856.0  26.0  85.3  0.8
657     2021-10-30 10:58  810.0  244.5  598.8  864.0  843.0  26.1  85.7  0.6
...                  ...    ...    ...    ...    ...    ...   ...   ...  ...
522184  2022-10-27 15:05  167.2   -0.5  165.1  167.6  160.9  30.4  68.3  5.3
522185  2022-10-27 15:06  163.4   -0.6  161.0  165.7  159.2  30.2  67.7  7.1
522194  2022-10-27 15:15  183.5    0.3  181.6  173.7  168.7  29.3  70.2  4.9
523792  2022-10-28 17:53   31.3   -0.5   30.2   34.3   32.3  28.4  79.5  5.0
523794  2022-10-28 17:55   22.8   -0.8   21.4   26.5   25.0  27.9  80.4  5.0

        WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  TModA  \
653        1.1      0.5   81.4      7.9  1002         0            0.0   50.4
654        2.4      0.4   74.6     12.1  1002         0            0.0   51.6
655        2.1      0.5   66.4     14.6  1002         0            0.0   52.4
656        1.6      0.6   90.2      7.0  1002         0            0.0   53.4
657        1.6      0.6  108.5      7.9  1002         0            0.0   54.6
...        ...      ...    ...      ...   ...       ...            ...    ...
522184     6.7      0.9  147.9     10.1   999         0            0.0   36.4
522185     8.4      0.8  144.5      7.7   999         0            0.0   35.6
522194     5.9      0.7  128.7     14.9   999         0            0.0   35.3
523792     6.4      0.9  354.4     22.9   999         0            0.0   31.3
523794     6.7      1.0   21.4     18.1   999         0            0.0   30.5

        TModB  Comments  outlier
653      45.6       NaN     True
654      46.6       NaN     True
655      47.0       NaN     True
656      47.7       NaN     True
657      48.6       NaN     True
...       ...       ...      ...
522184   36.4       NaN     True
522185   35.6       NaN     True
522194   35.1       NaN     True
523792   31.4       NaN     True
523794   30.6       NaN     True

[16292 rows x 20 columns]

Missing values in each column:
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
outlier               0
dtype: int64

C:\Users\ruths\AppData\Local\Temp\ipykernel_24520\1469466054.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GHI'].fillna(df['GHI'].median(), inplace=True)
C:\Users\ruths\AppData\Local\Temp\ipykernel_24520\1469466054.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DNI'].fillna(df['DNI'].median(), inplace=True)
C:\Users\ruths\AppData\Local\Temp\ipykernel_24520\1469466054.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DHI'].fillna(df['DHI'].median(), inplace=True)

In [4]:
df.to_csv('../data/sierraleone-bumbuna-cleaned.csv', index=False)