In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv('../data/togo-dapaong_qc.csv')
print(df.shape)
df.head()

(525600, 19)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [4]:
# Summary statistics
summary_stats = df.describe()

# Missing value report
missing_values = df.isna().sum()
missing_percentage = (missing_values / len(df)) * 100

# Columns with more than 5% missing values
high_missing_cols = missing_percentage[missing_percentage > 5]

print(summary_stats)
print(missing_values)
print(high_missing_cols)

                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      230.555040     151.258469     116.444352     226.144375
std       322.532347     250.956962     156.520714     317.346938
min       -12.700000       0.000000       0.000000       0.000000
25%        -2.200000       0.000000       0.000000       0.000000
50%         2.100000       0.000000       2.500000       4.400000
75%       442.400000     246.400000     215.700000     422.525000
max      1424.000000    1004.500000     805.700000    1380.000000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      219.568588      27.751788      55.013160       2.368093
std       307.932510       4.758023      28.778732       1.462668
min         0.000000      14.900000       3.300000       0.000000
25%         0.000000      24.200000      26.500000       1.400000
50%         4.300000      27.200000      59.300000       2.200000
75%       411.000000      31.100000      80.800000       3.200000
max      1367.000000      41.400000      99.800000      16.100000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        3.229490       0.557740     161.741845      10.559568
std         1.882565       0.268923      91.877217       5.915490
min         0.000000       0.000000       0.000000       0.000000
25%         1.900000       0.400000      74.800000       6.900000
50%         2.900000       0.500000     199.100000      10.800000
75%         4.400000       0.700000     233.500000      14.100000
max        23.100000       4.700000     360.000000      86.900000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      975.915242       0.000535       0.001382      32.444403
std         2.153977       0.023116       0.026350      10.998334
min       968.000000       0.000000       0.000000      13.100000
25%       975.000000       0.000000       0.000000      23.900000
50%       976.000000       0.000000       0.000000      28.400000
75%       977.000000       0.000000       0.000000      40.600000
max       983.000000       1.000000       2.300000      70.400000

               TModB  Comments
count  525600.000000       0.0
mean       33.543330       NaN
std        12.769277       NaN
min        13.100000       NaN
25%        23.600000       NaN
50%        28.400000       NaN
75%        43.000000       NaN
max        94.600000       NaN
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64
Comments    100.0
dtype: float64