In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv('../data/togo-dapaong_qc.csv')
print(df.shape)
df.head()

(525600, 19)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [4]:
# Summary statistics
summary_stats = df.describe()

# Missing value report
missing_values = df.isna().sum()
missing_percentage = (missing_values / len(df)) * 100

# Columns with more than 5% missing values
high_missing_cols = missing_percentage[missing_percentage > 5]

print(summary_stats)
print(missing_values)
print(high_missing_cols)

                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      230.555040     151.258469     116.444352     226.144375
std       322.532347     250.956962     156.520714     317.346938
min       -12.700000       0.000000       0.000000       0.000000
25%        -2.200000       0.000000       0.000000       0.000000
50%         2.100000       0.000000       2.500000       4.400000
75%       442.400000     246.400000     215.700000     422.525000
max      1424.000000    1004.500000     805.700000    1380.000000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      219.568588      27.751788      55.013160       2.368093
std       307.932510       4.758023      28.778732       1.462668
min         0.000000      14.900000       3.300000       0.000000
25%         0.000000      24.200000      26.500000       1.400000
50%         4.300000      27.200000      59.300000       2.200000
75%       411.000000      31.100000      80.800000       3.200000
max      1367.000000      41.400000      99.800000      16.100000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        3.229490       0.557740     161.741845      10.559568
std         1.882565       0.268923      91.877217       5.915490
min         0.000000       0.000000       0.000000       0.000000
25%         1.900000       0.400000      74.800000       6.900000
50%         2.900000       0.500000     199.100000      10.800000
75%         4.400000       0.700000     233.500000      14.100000
max        23.100000       4.700000     360.000000      86.900000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      975.915242       0.000535       0.001382      32.444403
std         2.153977       0.023116       0.026350      10.998334
min       968.000000       0.000000       0.000000      13.100000
25%       975.000000       0.000000       0.000000      23.900000
50%       976.000000       0.000000       0.000000      28.400000
75%       977.000000       0.000000       0.000000      40.600000
max       983.000000       1.000000       2.300000      70.400000

               TModB  Comments
count  525600.000000       0.0
mean       33.543330       NaN
std        12.769277       NaN
min        13.100000       NaN
25%        23.600000       NaN
50%        28.400000       NaN
75%        43.000000       NaN
max        94.600000       NaN
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64
Comments    100.0
dtype: float64

In [6]:
from scipy import stats
import pandas as pd
df = pd.read_csv('../data/togo-dapaong_qc.csv')
print(df.head())
z_scores = stats.zscore(df[['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']])

# Identify outliers: Z-score > 3 or < -3
df['outlier'] = (abs(z_scores) > 3).any(axis=1)

# Check for missing values
missing_values = df.isna().sum()

# Display the outliers and missing values
print("Outliers detected:")
print(df[df['outlier']])

print("\nMissing values in each column:")
print(missing_values)
# Impute missing values in key columns with median
df['GHI'].fillna(df['GHI'].median(), inplace=True)
df['DNI'].fillna(df['DNI'].median(), inplace=True)
df['DHI'].fillna(df['DHI'].median(), inplace=True)

# Drop rows with any remaining missing values in critical columns
df.dropna(subset=['ModA', 'ModB', 'WS', 'WSgust'], inplace=True)

          Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-10-25 00:01 -1.3  0.0  0.0   0.0   0.0  24.8  94.5  0.9     1.1
1  2021-10-25 00:02 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.1     1.6
2  2021-10-25 00:03 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.2     1.4
3  2021-10-25 00:04 -1.2  0.0  0.0   0.0   0.0  24.8  94.3  1.2     1.6
4  2021-10-25 00:05 -1.2  0.0  0.0   0.0   0.0  24.8  94.0  1.3     1.6

   WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0      0.4  227.6      1.1  977         0            0.0   24.7   24.4
1      0.4  229.3      0.7  977         0            0.0   24.7   24.4
2      0.3  228.5      2.9  977         0            0.0   24.7   24.4
3      0.3  229.1      4.6  977         0            0.0   24.7   24.4
4      0.4  227.5      1.6  977         0            0.0   24.7   24.4

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
Outliers detected:
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
4985    2021-10-28 11:06  1139.0  805.1  466.1  1172.0  1154.0  29.8  70.8
5410    2021-10-28 18:11    -1.2    0.0    0.0     0.0     0.0  29.7  63.5
5411    2021-10-28 18:12    -1.0    0.0    0.0     0.0     0.0  29.3  62.4
5413    2021-10-28 18:14    -0.8    0.0    0.0     0.0     0.0  28.6  63.7
5420    2021-10-28 18:21    -1.3    0.0    0.0     0.0     0.0  27.7  64.5
...                  ...     ...    ...    ...     ...     ...   ...   ...
510473  2022-10-14 11:54   709.5   63.7  629.8   703.1   694.9  30.2  66.6
510474  2022-10-14 11:55   677.8   40.6  621.7   670.1   662.2  30.2  66.7
510475  2022-10-14 11:56   659.5   29.7  614.9   651.0   643.4  30.3  66.1
510476  2022-10-14 11:57   660.1   40.7  605.6   653.2   645.6  30.2  66.0
510477  2022-10-14 11:58   655.8   50.2  591.0   647.5   639.9  30.2  66.2

         WS  WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  \
4985    2.2     2.6      0.4  298.6     13.4  977         0            0.0
5410    6.6     9.7      1.6  122.1     14.3  976         0            0.0
5411    6.9     8.9      1.2  128.7     10.8  976         0            0.0
5413    7.1     8.9      1.1  127.9     14.4  976         0            0.0
5420    6.1     8.9      1.3  123.2     14.4  977         0            0.0
...     ...     ...      ...    ...      ...  ...       ...            ...
510473  3.5     4.4      0.8  167.0     15.2  977         0            0.0
510474  2.8     3.6      0.6  175.1     19.7  977         0            0.0
510475  4.1     4.9      0.5  174.0     11.5  977         0            0.0
510476  3.7     4.6      0.7  165.4     21.6  977         0            0.0
510477  3.4     5.9      1.6  179.5     25.8  977         0            0.0

        TModA  TModB  Comments  outlier
4985     44.7   50.2       NaN     True
5410     30.0   29.5       NaN     True
5411     29.9   29.5       NaN     True
5413     29.5   29.2       NaN     True
5420     28.4   28.2       NaN     True
...       ...    ...       ...      ...
510473   46.8   51.6       NaN     True
510474   46.8   51.6       NaN     True
510475   46.8   51.6       NaN     True
510476   46.6   51.4       NaN     True
510477   46.5   51.3       NaN     True

[9251 rows x 20 columns]

Missing values in each column:
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
outlier               0
dtype: int64

C:\Users\ruths\AppData\Local\Temp\ipykernel_7248\3150304744.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GHI'].fillna(df['GHI'].median(), inplace=True)
C:\Users\ruths\AppData\Local\Temp\ipykernel_7248\3150304744.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DNI'].fillna(df['DNI'].median(), inplace=True)
C:\Users\ruths\AppData\Local\Temp\ipykernel_7248\3150304744.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DHI'].fillna(df['DHI'].median(), inplace=True)

In [7]:
df.to_csv('../data/togo-daaong_qc-cleaned.csv', index=False)